export(setDots)
export(stepCAT.bank)
export(stepCAT.by)
export(stepCAT.choice)
export(stepCAT.items)
export(stepCAT.prompt)
export(stepCAT.start)
export(stepCAT.stop)
export(stepCAT.table)
export(stepCAT.test)
S3method(stepCAT.by,character)
S3method(stepCAT.by,data.frame)
S3method(stepCAT.by,numeric)
S3method(stepCAT.items,data.frame)
S3method(stepCAT.items,numeric)
